body {
 font-family: Arial, sans-serif;
 background: #0f0f0f;
 margin: 0;
 color: #ffffff;
}


table {
 width: 100%;
 border-collapse: collapse;
 table-layout: fixed;
 margin-top: 30px;
}


td[colspan="4"]:nth-of-type(1) {
 text-align: center;
 color: #ffffff;
 font-style: italic;
 padding: 10px;
}


td[colspan="4"]:nth-of-type(2) {
 position: relative;
 padding: 20px;
 border-bottom: 1px solid #555555;
 background: #111;
 text-align: center;
}


td[colspan="4"]:nth-of-type(2)::before {
 content: "+34600123456 | info@luxhyper.com | Madrid, Spain";
 position: absolute;
 left: 20px;
 top: 15px;
 font-size: 0.9rem;
 color: #ccc;
 text-align: left;
}




h1 {
 font-size: 2rem;
 margin: 0;
 letter-spacing: 2px;
 text-decoration: underline;
}
h2 {
 font-weight: normal;
 font-size: 1.1rem;
 margin-top: 5px;
}


p:nth-of-type(1) {
 font-style: italic;
 color: #ccc;
 margin-bottom: 15px;
}


p:last-of-type {
 font-size: 1.2rem;
 color: #ff1e46;
 font-weight: bold;
 margin-bottom: 20px;
}


th {
 font-weight: bold;
 font-size: 1.2rem;
 padding-bottom: 10px;
 color: #fff;
}


td {
 padding: 20px;
 background: #1b1b1b;
 border-radius: 15px;
 text-align: center;
}


td img {
 width: 90%;
 max-height: 170px;
 object-fit: cover;
 border-radius: 10px;
 display: block;
 margin: 0 auto;
}


button {
 background-color: #ff0050;
 color: white;
 border: none;
 padding: 10px 18px;
 cursor: pointer;
 font-size: 1rem;
 border-radius: 8px;
 margin-top: 15px;
 transition: 0.2s ease;
 font-weight: bold;
}
button:hover {
 background-color: #ff2f6e;
 transform: scale(1.05);
}
